table{
    border-collapse: collapse;
}

table, th, td{
    border:3px solid #D7000A;/* grosor tipo_linea color */
}

th,td{
    padding:10px;
}

.icono-demo{
    font-size: 40px;
    color: red;
}

.lista1{
    list-style-type: circle;
}